/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
  z-index: 2000;
}

#nprogress .bar {
  background: #2ea195;

  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #2ea195, 0 0 5px #2ea195;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

a {
  text-decoration: none;
  color: inherit;
}

.AddressBox {
  padding: 20px 15px 20px 0;
}
.primaryButton {
  padding: 10px 20px !important;
  border-radius: 5px !important;
  background-color: #8d59fc !important;
  border: 1px solid #8d59fc !important;
  font-size: 14px !important;
  color: #ffffff !important;
  font-weight: 600 !important;
}

.primaryButton:hover {
  background-color: rgb(98, 62, 176) !important;
  border: 1px solid rgb(98, 62, 176) !important;
}
